* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #37353E;
  color: #D3DAD9;
}

table {
  width: 10rem;
}

table td {
  min-width: 3rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #D3DAD9;
}

.chain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center;

  width: 100vw;
  height: 0.5rem;
  background-color: #715A5A;
}

.open-window {
  background-color: #D3DAD9;
  border: none;
  padding: 0.5rem 1rem;
  float: right;
  cursor: pointer;
}